{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "javascript": "product-customizer.js",
  "settings": []
}
{% endschema %}

<div
  data-product-customizer
  data-product-id="{{ product.id }}"
  data-product-price="{{ product.price | money}}"
  data-product-description="{{ product.content }}"
></div>
