@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


.product-customizer-container {
  font-family: 'futura', sans-serif !important;
  display: flex;
  gap: 120px;
  margin-top:50px;
}

.product-customizer-image {
  position: relative;
  width:50%;
}

.product-customizer-content {
  width: 50%;
}

.testing_class {
  font-family: 'futura', sans-serif !important;
}

#preview-image {
  width: 300px;
  height: 200px;
  margin-top:50px;
  z-index: 1;
}

#shape-container {
  width: 100%;
  height: 450px;
  position: relative;
  max-height: 500px;
  max-width: 500px;

}

.image-option {
  display: inline-flex;
  width: 14%;
  gap: 40px;
  border:1px solid black;
  border-radius: 0px;
  margin-right: 4px;
  margin-bottom: 10px;
  position: relative;
}

.quantity-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 103px;
  overflow: hidden;
}
.quantity-btn {
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  text-align: center;
}
.quantity-input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
}
.quantity-btn:hover {
  background-color: #ddd;
}

.description_content {
  margin-top: 80px;
}
.description_main {
    background: #d3ebfa;
    padding: 12px 20px;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
}
#braille-text-display {
  margin-top: 0;
}

.entry-quantity-btns{
  display: flex;
  align-items: center;
}

.add-cart-btn{
  text-align: center;
  background: red;
  border-radius: 25px;
  padding: 10px 60px;
  color: #fff;
  border: 2px solid red !important;
  text-transform: uppercase;
  box-shadow: none;
  transition: .4s;
  margin-left: 20px;
  font-weight: 600;
}

.add-cart-btn:hover{
  background: #fff0;
  color: red;
  transition: .4s;
  cursor: pointer;
}

.text-linethrough{
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .product-customizer-container {
    display: block;
  }
  .product-customizer-image {
    width: 100%;
  }
  .product-customizer-content {
    width: 100%;
  }
  .image-option {
    width: auto;
  }
  #preview-image {
    height: 146px;
  }
  .description_content {
    margin-top: 20px;
  }
}

